---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
## skip_validation: true

transformers:
  ## replace all references to ManagedClusterSet with the name of the ManagedClusterSet created for this environment
  - ./resource-skip-hook.yml
